﻿@model Lab01.MessageFeedback

@{
    ViewData["Title"] = "Feedback";
}

<h2>Feedback</h2>

<h4>MessageFeedback</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-controller="Feedback" asp-action="RegisterFeedback" method="post">
            Імя:  <input asp-for="Name" /> <br />
            Емайл:  <input asp-for="Email" /> <br />
            Месендж: <input asp-for="Message" /><br />
            <button type="submit">Відправити</button>
        </form>
    </div>
</div>

