﻿@model Lab01.MessageFeedback

@{
    ViewData["Title"] = "FeedbackResult";
}

<h2>Feedback</h2>

<h4>Результат</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <p>Імя: @Model.Name</p>
        <p>Email: @Model.Email</p>
        <p>Повідомленя: @Model.Message</p>
    </div>
</div>
