﻿@{
    ViewData["Title"] = "Про сайт";
}
<h2></h2>

<section>
    <div class="container">
        <div class="row">

            <div class="col-lg-6">
                <h4>@ViewData["Message"]</h4>
                <br />

                <p>
                    Chrome

                    I. Увеличение размера кэша плеера.
                    1. Нажмите правой кнопкой мыши на плеере фильма, который в данный момент смотрите.
                    2. Откроется маленькое окно, где внизу будут вкладки. Нажмите на вкладку с рисунком папки.
                    3. Выставьте ползунком размер кэша на максимум.

                    II. Увеличение размера кэша браузера
                    1. Нажмите правой клавишей мыши на ярлык Chrome.
                    2. В строке «объект», ничего не изменяя, после всего допишите «--disk-cache-size=1000000000». (все без кавычек)
                </p>

                <p>
                    Opera

                    Если Вы постоянно пользуетесь этим браузером, то рекомендуется очистить кэш. Если же Вы только что установили этот браузер и никогда не пользовались им ранее, то пропустите этот пункт.
                    I. Очистка кэша браузера
                    1. Для очистки кэша в верхнем меню браузера, выберите: Инструменты -> Общие настройки -> Расширенные -> История -> Дисковый кэш.
                    2. Нажмите на кнопку «Очистить», находящуюся справа.
                    3. Нажмите «ОК».

                    II. Увеличение максимального объема дискового кэша
                    Для того чтобы просматриваемое видео полностью загружалось и не прерывалось на каком-либо моменте времени, нужно увеличить объем дискового кэша.
                    1. Для увеличения допустимого объема дискового кэша в верхнем меню браузера, выберите: Инструменты -> Общие настройки -> Расширенные -> История -> Дисковый кэш.
                    2. Выберите в списке 200 МБ или 400 МБ, в зависимости от мощности и объема HDD (жесткого диска) Вашего компьютера.
                    3. Нажмите «ОК».
                </p>
                <p>
                    Mozilla Firefox

                    I. Очистка кэша (автономного хранилища)
                    Если Вы постоянно пользуетесь этим браузером, то рекомендуется очистить кэш. Если же Вы только что установили этот браузер и никогда не пользовались им ранее, то пропустите этот пункт.
                    1. Для очистки кэша в верхнем меню браузера, выберите: Инструменты -> Настройки… -> Дополнительные -> Сеть -> Автономное хранилище.
                    2. Нажмите на кнопку «Очистить сейчас», находящуюся справа.
                    3. Нажмите «ОК».

                    II. Увеличение максимального объема дискового кэша (автономного хранилища)
                    Для того чтобы просматриваемое видео полностью загружалось и не прерывалось на каком-либо моменте времени, нужно увеличить объем дискового кэша.
                    1. Для увеличения допустимого объема дискового кэша (автономного хранилища) в верхнем меню браузера, выберите: Инструменты -> Настройки… -> Дополнительные -> Сеть -> Автономное хранилище.
                    2. Выставьте значение 200 МБ или 400 МБ, в зависимости от мощности и объема HDD (жесткого диска) Вашего компьютера.
                    3. Нажмите «ОК».
                </p>
                <address>
                    Житомир<br />
                    Лабораторна ASP 1<br />
                    <abbr title="Студент">:</abbr>
                    Самко О.М.
                </address>
            </div>
        </div>
    </div>
</section>
