﻿
<div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="6000">
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <img src="~/images/banner1.jpg" alt="Про сайт" class="img-responsive" />
            <div class="carousel-caption" role="option">
                <p>
                    <a asp-area="" asp-controller="Home" asp-action="About">Перейти на сторінку про сайт</a>
                </p>
            </div>
        </div>
        <div class="item">
            <img src="~/images/banner2.jpg" alt="Форма" class="img-responsive" />
            <div class="carousel-caption" role="option">
                <p>
                    <a asp-area="" asp-controller="Feedback" asp-action="Index">Перейти на форму</a>
                </p>
            </div>
        </div>
        <div class="item">
            <img src="~/images/banner3.jpg" alt="" class="img-responsive" />
            <div class="carousel-caption" role="option">
                <p>
                    <a asp-area="" asp-controller="Home" asp-action="Index">Перейти на головну</a>
                </p>
            </div>
        </div>
    </div>
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>

<div class="row">
    <div class="col-md-3">
        <ul class="nav navbar-nav">
            <li><a asp-area="" asp-controller="Home" asp-action="Index">Головна</a></li>
            <li><a asp-area="" asp-controller="Home" asp-action="About">Про сайт</a></li>
            <li><a asp-area="" asp-controller="Feedback" asp-action="Index">Форма</a></li>
        </ul>
    </div>
</div>